h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
img:last-child {
  margin: 0;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/41294/hero.jpg)
    no-repeat center center fixed;
  background-size: cover;
}
.section {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background: transparent;
  margin-top: -8px;
  margin-left: -8px;
  background: #000000d6;
}

.container {
  padding: 60px 15px 15px 15px;
  width: 1200px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 90px) / 4);
}
input {
  color: #fff;
  width: 200px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 3px 0 0 3px;
  text-align: center;
}
input::placeholder {
  color: #fff;
}
.search-btn {
  width: 100px;
  height: 40px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}
.thumb {
  height: 180px;
  width: 270px;
}

.thumb > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.photo-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.info {
  color: #fff;
  justify-content: space-around;
  padding: 10px 10px;
  display: flex;
  gap: 5px;
  border-bottom: 1px solid #fff;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.load-more.is-hidden {
  display: none;
}

.load-more {
  display: block;
  width: 150px;
  height: 40px;
  margin: 30px auto;
  color: white;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
}

.load-more:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  /* border-color: rgba(0, 0, 0, 0.2); */
}

.submit {
  cursor: pointer;
}
